<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - CoSecurity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Adicionado para os ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <!-- Nova barra de navegação superior -->
    <div class="navbar">
        <div class="navbar-left">
            <button class="menu-button">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="navbar-right">
            <span class="user-name">Arthur Nunes</span>
            <i class="fas fa-user-circle user-icon"></i>
        </div>
    </div>

    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <a href="/"> <i class="fas fa-home"></i> Home </a>
        <a class="active" href="/dashboard"> <i class="fas fa-chart-bar"></i> Dashboard </a>
        <a href="#"> <i class="fas fa-eye"></i> The Eye </a>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>Dashboard de Ocorrências </h1>
            <p>Visualize os dados atualizados em tempo real</p>
        </div>
        <!-- Aumentando a altura do contêiner do iframe para acomodar os gráficos maiores -->
        <div class="container mt-4" style="display:flex; flex-direction:column; height:130vh;">
            <iframe src="/dashboard/" style="flex:1; width:100%; border:none;"></iframe>
        </div>
    </div>

</body>
</html>
